<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission Internet pour le développement -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="location"
        tools:replace="android:label" />
</manifest>
